<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="kws_packages" value="https://pkgs.dev.azure.com/interasp/_packaging/KwsCovaFunctinal/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="kws_packages">
      <package pattern="Kws.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
